node-red/flows.json
[
    {
        "id": "4154fc61.971ca4",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "372952f8.e70d1e",
        "type": "tab",
        "label": "Alarm",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9d86e480.46fa78",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5fd3ae18.5783b",
        "type": "tab",
        "label": "Alarm (Health Check)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "629b6465.dcfeac",
        "type": "tab",
        "label": "Nolan",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2cffd5bf.032a1a",
        "type": "tab",
        "label": "Battery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abc372cc.239f3",
        "type": "server",
        "z": "",
        "name": "Home Assistant"
    },
    {
        "id": "3f6d060.b874ffa",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80ed64c8.5ac088",
        "type": "bigtimer",
        "z": "4154fc61.971ca4",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer (Weekend)",
        "comment": "",
        "lat": "50.79532",
        "lon": "3.7675",
        "starttime": "5004",
        "endtime": "1410",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "ON",
        "outtext2": "OFF",
        "timeout": 1440,
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 220,
        "y": 80,
        "wires": [
            [
                "f8f10a75.980d08"
            ],
            [],
            []
        ]
    },
    {
        "id": "a0746c3d.1cdc3",
        "type": "api-call-service",
        "z": "4154fc61.971ca4",
        "name": "Turn On Smart Plug Gang Beneden",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_on",
        "entityId": "switch.smart_plug_gang_beneden",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 920,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f8f10a75.980d08",
        "type": "switch",
        "z": "4154fc61.971ca4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 540,
        "y": 100,
        "wires": [
            [
                "a0746c3d.1cdc3"
            ],
            [
                "9a1fa7ec.a7aac8"
            ]
        ]
    },
    {
        "id": "9a1fa7ec.a7aac8",
        "type": "api-call-service",
        "z": "4154fc61.971ca4",
        "name": "Turn Off Smart Plug Gang Beneden",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "turn_off",
        "entityId": "switch.smart_plug_gang_beneden",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 920,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "56d7f4ba.5fdc8c",
        "type": "bigtimer",
        "z": "4154fc61.971ca4",
        "outtopic": "",
        "outpayload1": "ON",
        "outpayload2": "OFF",
        "name": "Big Timer (Week)",
        "comment": "",
        "lat": "50.79532",
        "lon": "3.7675",
        "starttime": "1050",
        "endtime": "1410",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "ON",
        "outtext2": "OFF",
        "timeout": 1440,
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "f8f10a75.980d08"
            ],
            [],
            []
        ]
    },
    {
        "id": "44f0663b.222a08",
        "type": "trigger-state",
        "z": "372952f8.e70d1e",
        "name": "Schuifraam OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.schuifraam_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "a2cf3deb.ba638",
                "1c955412.82b70c"
            ],
            []
        ]
    },
    {
        "id": "a2cf3deb.ba638",
        "type": "api-current-state",
        "z": "372952f8.e70d1e",
        "name": "Alarm ARMED_HOME",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.home_alarm",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "c377e342.a0191"
            ],
            []
        ]
    },
    {
        "id": "1c955412.82b70c",
        "type": "api-current-state",
        "z": "372952f8.e70d1e",
        "name": "Alarm ARMED_AWAY",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.home_away",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "c377e342.a0191"
            ],
            []
        ]
    },
    {
        "id": "c377e342.a0191",
        "type": "api-call-service",
        "z": "372952f8.e70d1e",
        "name": "Trigger Alarm",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "entityId": "alarm_control_panel.home_alarm",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 880,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2483dac3.8de0c6",
        "type": "trigger-state",
        "z": "372952f8.e70d1e",
        "name": "Achterdeur OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.achterdeur_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "a2cf3deb.ba638",
                "1c955412.82b70c"
            ],
            []
        ]
    },
    {
        "id": "e6f805c7.940fd8",
        "type": "trigger-state",
        "z": "372952f8.e70d1e",
        "name": "Voordeur OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.voordeur_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "a2cf3deb.ba638",
                "1c955412.82b70c"
            ],
            []
        ]
    },
    {
        "id": "39e93f9a.de60d",
        "type": "trigger-state",
        "z": "372952f8.e70d1e",
        "name": "Badkamer raam OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.badkamer_raam_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "1c955412.82b70c",
                "a2cf3deb.ba638"
            ],
            []
        ]
    },
    {
        "id": "59b3a7c0.ef8e38",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Alarm TRIGGERED",
        "server": "abc372cc.239f3",
        "entityid": "alarm_control_panel.home_alarm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "f1fy93r9b5c",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "9c387c2b.1fb09"
            ],
            []
        ]
    },
    {
        "id": "c72ea5ab.06d308",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Alarm ARMED_AWAY",
        "server": "abc372cc.239f3",
        "entityid": "alarm_control_panel.home_alarm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "8j3gsroc9oy",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "c1e6ceec.3e888"
            ],
            []
        ]
    },
    {
        "id": "65a45a69.ba54a4",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Alarm ARMED_HOME",
        "server": "abc372cc.239f3",
        "entityid": "alarm_control_panel.home_alarm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "07bx6m9b415u",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "64638847.2d03a8"
            ],
            []
        ]
    },
    {
        "id": "64638847.2d03a8",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Alarm has been Armed (HOME)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm is geactiveerd (HOME)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "123b9c20.e2d574"
            ]
        ]
    },
    {
        "id": "a14e73f7.e1cde",
        "type": "api-call-service",
        "z": "9d86e480.46fa78",
        "name": "Notify Frederik",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notifyfrederik",
        "entityId": "",
        "data": "{    \"message\": \"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1520,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "98cdc227.801c4",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Alarm DISARMED",
        "server": "abc372cc.239f3",
        "entityid": "alarm_control_panel.home_alarm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "1s7th36qkgm",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "831f810a.93943"
            ],
            []
        ]
    },
    {
        "id": "831f810a.93943",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Alarm has been Disarmed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm is gedeactiveerd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "123b9c20.e2d574"
            ]
        ]
    },
    {
        "id": "9c387c2b.1fb09",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Alarm has been Triggered",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm is getriggered",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "123b9c20.e2d574"
            ]
        ]
    },
    {
        "id": "3c496361.7cb9cc",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Schuifraam OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.schuifraam_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "21a3479c.e978f8"
            ],
            []
        ]
    },
    {
        "id": "4bb7174.1ccfde8",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Achterdeur OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.achterdeur_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 620,
        "wires": [
            [
                "bcd131b0.e1cad"
            ],
            []
        ]
    },
    {
        "id": "db095d8b.81706",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Voordeur OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.voordeur_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 180,
        "y": 720,
        "wires": [
            [
                "5a8c5e4a.763be"
            ],
            []
        ]
    },
    {
        "id": "d834140f.347a18",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Badkamer raam OPEN",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.badkamer_raam_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 200,
        "y": 780,
        "wires": [
            [
                "596cf39c.5a541c"
            ],
            []
        ]
    },
    {
        "id": "21a3479c.e978f8",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Schuifraam is opened",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Schuifraam is geopend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "b3c83dbb.a3baa"
            ]
        ]
    },
    {
        "id": "b3c83dbb.a3baa",
        "type": "api-current-state",
        "z": "9d86e480.46fa78",
        "name": "Alarm NOT DISARMED",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 2,
        "halt_if": "disarmed",
        "halt_if_type": "str",
        "halt_if_compare": "is_not",
        "override_topic": false,
        "entity_id": "alarm_control_panel.home_alarm",
        "state_type": "str",
        "state_location": "",
        "override_payload": "none",
        "entity_location": "",
        "override_data": "none",
        "blockInputOverrides": false,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "123b9c20.e2d574"
            ],
            []
        ]
    },
    {
        "id": "c1e6ceec.3e888",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Alarm has been Armed (AWAY)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Alarm is geactiveerd (AWAY)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "123b9c20.e2d574"
            ]
        ]
    },
    {
        "id": "123b9c20.e2d574",
        "type": "function",
        "z": "9d86e480.46fa78",
        "name": "Notify",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "a14e73f7.e1cde",
                "7fbd4197.1a972",
                "215a33eb.d884bc"
            ]
        ]
    },
    {
        "id": "15ab0f40.759aa1",
        "type": "trigger-state",
        "z": "372952f8.e70d1e",
        "name": "Alarm TRIGGERED",
        "server": "abc372cc.239f3",
        "entityid": "alarm_control_panel.home_alarm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "f1fy93r9b5c",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "fd2dea76.c92238"
            ],
            []
        ]
    },
    {
        "id": "fd2dea76.c92238",
        "type": "api-call-service",
        "z": "372952f8.e70d1e",
        "name": "Trigger Siren",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_on",
        "entityId": "switch.neocam_siren_alarm_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 570,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cb773fb3.e098f",
        "type": "debug",
        "z": "5fd3ae18.5783b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "8f757c68.7a60b",
        "type": "trigger-state",
        "z": "5fd3ae18.5783b",
        "name": "Alarm ARMED_HOME",
        "server": "abc372cc.239f3",
        "entityid": "alarm_control_panel.home_alarm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "07bx6m9b415u",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "9eecefe2.b4d9c",
                "1f86030b.fb753d",
                "a2462b8b.237a28",
                "9f5233d0.34bc6",
                "6ac61c72.535934"
            ],
            []
        ]
    },
    {
        "id": "7fbd4197.1a972",
        "type": "api-call-service",
        "z": "9d86e480.46fa78",
        "d": true,
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notifyfrederiktwilio",
        "entityId": "",
        "data": "{\"message\":\"This is a test\",\"target\":\"+32473339733\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "215a33eb.d884bc",
        "type": "api-call-service",
        "z": "9d86e480.46fa78",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notify",
        "entityId": "",
        "data": "{    \"message\": \"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1350,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "bcd131b0.e1cad",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Achterdeur is opened",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Achterdeur is geopend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "b3c83dbb.a3baa"
            ]
        ]
    },
    {
        "id": "5a8c5e4a.763be",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Voordeur is opened",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Voordeur is geopend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 700,
        "wires": [
            [
                "b3c83dbb.a3baa"
            ]
        ]
    },
    {
        "id": "596cf39c.5a541c",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Badkamer raam is opened",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Badkamer raam is geopend",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "b3c83dbb.a3baa"
            ]
        ]
    },
    {
        "id": "272c86fc.540f0a",
        "type": "trigger-state",
        "z": "372952f8.e70d1e",
        "name": "Alarm TRIGGERED OVER",
        "server": "abc372cc.239f3",
        "entityid": "alarm_control_panel.home_alarm",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "3qge96v5eqg",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "5462bd0b.590bb4"
            ],
            []
        ]
    },
    {
        "id": "5462bd0b.590bb4",
        "type": "api-call-service",
        "z": "372952f8.e70d1e",
        "name": "Stop Siren",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "switch",
        "service": "turn_off",
        "entityId": "switch.neocam_siren_alarm_switch",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 570,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3107d790.e17878",
        "type": "trigger-state",
        "z": "372952f8.e70d1e",
        "name": "Living BEWEGING",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.living_occupancy",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "1c955412.82b70c"
            ],
            []
        ]
    },
    {
        "id": "4c06e83e.764f58",
        "type": "trigger-state",
        "z": "9d86e480.46fa78",
        "name": "Living BEWEGING",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.living_occupancy",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "df0ryvpp8gd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "gy0nlg1mvki",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "585de6c6.da2b88"
            ],
            []
        ]
    },
    {
        "id": "585de6c6.da2b88",
        "type": "change",
        "z": "9d86e480.46fa78",
        "name": "Living beweging",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Beweging in living",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 860,
        "wires": [
            [
                "b3c83dbb.a3baa"
            ]
        ]
    },
    {
        "id": "3c8447f6.61a678",
        "type": "trigger-state",
        "z": "629b6465.dcfeac",
        "name": "Deur Nolan Open",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.deur_kamer_nolan_contact",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "22398eb9.ac31e2"
            ],
            []
        ]
    },
    {
        "id": "6c2fb878.32e598",
        "type": "api-call-service",
        "z": "629b6465.dcfeac",
        "d": true,
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notifyfrederiktwilio",
        "entityId": "",
        "data": "{\"message\":\"This is a test\",\"target\":\"+32473339733\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6a11b0b5.007e1",
        "type": "api-call-service",
        "z": "629b6465.dcfeac",
        "d": true,
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notifyfrederiktwilio",
        "entityId": "",
        "data": "{\"message\":\"This is a test\",\"target\":\"+32474317616\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 700,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "22398eb9.ac31e2",
        "type": "api-current-state",
        "z": "629b6465.dcfeac",
        "name": "Alarm ARMED_HOME",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 2,
        "halt_if": "armed_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "alarm_control_panel.home_alarm",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "6a11b0b5.007e1"
            ],
            []
        ]
    },
    {
        "id": "31eacc84.a350e4",
        "type": "trigger-state",
        "z": "629b6465.dcfeac",
        "name": "Beweging Gang Boven",
        "server": "abc372cc.239f3",
        "entityid": "binary_sensor.gang_boven_occupancy",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "784a58e0.1f3368"
            ],
            []
        ]
    },
    {
        "id": "784a58e0.1f3368",
        "type": "api-current-state",
        "z": "629b6465.dcfeac",
        "name": "Deur Nolan is Open",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.deur_kamer_nolan_contact",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "22398eb9.ac31e2"
            ],
            []
        ]
    },
    {
        "id": "315bb86d.ac61a8",
        "type": "api-call-service",
        "z": "5fd3ae18.5783b",
        "name": "Notify Frederik",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notifyfrederik",
        "entityId": "",
        "data": "{    \"message\": \"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1420,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ba9192ae.a24ef",
        "type": "api-call-service",
        "z": "5fd3ae18.5783b",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notify",
        "entityId": "",
        "data": "{    \"message\": \"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 1400,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9eecefe2.b4d9c",
        "type": "api-current-state",
        "z": "5fd3ae18.5783b",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "zwave.neocam_siren_alarm",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "87ec4265.26351"
            ]
        ]
    },
    {
        "id": "aca1cf6e.ea0eb",
        "type": "join",
        "z": "5fd3ae18.5783b",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "",
        "propertyType": "full",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1190,
        "y": 440,
        "wires": [
            [
                "4d4a8695.190058"
            ]
        ]
    },
    {
        "id": "1f86030b.fb753d",
        "type": "api-current-state",
        "z": "5fd3ae18.5783b",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.voordeur_contact",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 460,
        "y": 240,
        "wires": [
            [
                "3fd8454f.15eb2a"
            ]
        ]
    },
    {
        "id": "4d4a8695.190058",
        "type": "function",
        "z": "5fd3ae18.5783b",
        "name": "Is System Healthy",
        "func": "var unHealthySensors = msg.payload\n    .filter(i => i.isHealthy === false)\n    .map(i => i.message);\n\nvar isHealthy = unHealthySensors.length === 0;\nvar message = '';\n\nif(!isHealthy) {\n    message = unHealthySensors.join(',');\n} else {\n    message = 'System is healthy!';\n}\n\nreturn { payload: message };",
        "outputs": 1,
        "noerr": 0,
        "x": 1270,
        "y": 260,
        "wires": [
            [
                "ba9192ae.a24ef",
                "315bb86d.ac61a8"
            ]
        ]
    },
    {
        "id": "a1ae8e6b.7536",
        "type": "function",
        "z": "5fd3ae18.5783b",
        "name": "Is Contact Sensor Healthy",
        "func": "var tresholdInMs = 7200000;\nvar linkQualityTreshold = 0;\nvar lastUpdated = new Date(msg.data.last_updated);\nvar now = new Date();\nvar diffInMs = Math.abs(now - lastUpdated);\nvar linkQuality = msg.data.attributes.linkquality;\nvar isHealthy = diffInMs <= tresholdInMs && linkQuality > linkQualityTreshold;\n\nreturn { isHealthy: isHealthy, message: isHealthy ? '' : msg.message };",
        "outputs": 1,
        "noerr": 0,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "aca1cf6e.ea0eb",
                "cb773fb3.e098f"
            ]
        ]
    },
    {
        "id": "87ec4265.26351",
        "type": "function",
        "z": "5fd3ae18.5783b",
        "name": "Is System Healthy",
        "func": "var isHealthy = msg.data.state === 'ready';\nvar message = '';\n\nif(!isHealthy) {\n    message = 'Siren state is ' + siren.state;\n}\n\nreturn { \n    isHealthy: isHealthy,\n    message: message\n};",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 100,
        "wires": [
            [
                "aca1cf6e.ea0eb"
            ]
        ]
    },
    {
        "id": "a2462b8b.237a28",
        "type": "api-current-state",
        "z": "5fd3ae18.5783b",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.schuifraam_contact",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "a93151b1.b97ab"
            ]
        ]
    },
    {
        "id": "9f5233d0.34bc6",
        "type": "api-current-state",
        "z": "5fd3ae18.5783b",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.achterdeur_contact",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 500,
        "y": 400,
        "wires": [
            [
                "9e80816b.9d13a"
            ]
        ]
    },
    {
        "id": "6ac61c72.535934",
        "type": "api-current-state",
        "z": "5fd3ae18.5783b",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.badkamer_raam_contact",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 500,
        "y": 460,
        "wires": [
            [
                "9167c87.79c5a38"
            ]
        ]
    },
    {
        "id": "3fd8454f.15eb2a",
        "type": "function",
        "z": "5fd3ae18.5783b",
        "name": "Message",
        "func": "return { data: msg.data, message: 'Voordeur is not healthy' };",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 200,
        "wires": [
            [
                "a1ae8e6b.7536"
            ]
        ]
    },
    {
        "id": "a93151b1.b97ab",
        "type": "function",
        "z": "5fd3ae18.5783b",
        "name": "Message",
        "func": "return { data: msg.data, message: 'Schuifraam is not healthy' };",
        "outputs": 1,
        "noerr": 0,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "a1ae8e6b.7536"
            ]
        ]
    },
    {
        "id": "9e80816b.9d13a",
        "type": "function",
        "z": "5fd3ae18.5783b",
        "name": "Message",
        "func": "return { data: msg.data, message: 'Achterdeur is not healthy' };",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 380,
        "wires": [
            [
                "a1ae8e6b.7536"
            ]
        ]
    },
    {
        "id": "9167c87.79c5a38",
        "type": "function",
        "z": "5fd3ae18.5783b",
        "name": "Message",
        "func": "return { data: msg.data, message: 'Badkamerraam is not healthy' };",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 440,
        "wires": [
            [
                "a1ae8e6b.7536"
            ]
        ]
    },
    {
        "id": "1b904db3.0deb42",
        "type": "inject",
        "z": "5fd3ae18.5783b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "0 8-21 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "9eecefe2.b4d9c",
                "1f86030b.fb753d",
                "a2462b8b.237a28",
                "9f5233d0.34bc6",
                "6ac61c72.535934"
            ]
        ]
    },
    {
        "id": "7dbfb937.e92788",
        "type": "inject",
        "z": "2cffd5bf.032a1a",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "00 08 * * *",
        "once": false,
        "onceDelay": 0.1,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "a9b1d7c9.46a598",
                "996d16fe.8dcaf8"
            ]
        ]
    },
    {
        "id": "4df4b1ef.739de",
        "type": "function",
        "z": "2cffd5bf.032a1a",
        "name": "Check Battery",
        "func": "var treshold = 30;\nvar battery = msg.data.attributes.battery;\n\nreturn { payload: treshold >= battery ? msg.message : '' };",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "fa2d3690.1e8908",
                "a9b8a3cc.b9441"
            ]
        ]
    },
    {
        "id": "3d6b7b.3a69c486",
        "type": "function",
        "z": "2cffd5bf.032a1a",
        "name": "Message",
        "func": "return { data: msg.data, message: 'Voordeur battery low' };",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 180,
        "wires": [
            [
                "4df4b1ef.739de"
            ]
        ]
    },
    {
        "id": "a9b1d7c9.46a598",
        "type": "api-current-state",
        "z": "2cffd5bf.032a1a",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.voordeur_contact",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "3d6b7b.3a69c486"
            ]
        ]
    },
    {
        "id": "fa2d3690.1e8908",
        "type": "debug",
        "z": "2cffd5bf.032a1a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "996d16fe.8dcaf8",
        "type": "api-current-state",
        "z": "2cffd5bf.032a1a",
        "name": "",
        "server": "abc372cc.239f3",
        "version": 1,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "binary_sensor.achterdeur_contact",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "63230620.daa818"
            ]
        ]
    },
    {
        "id": "644eea73.4a8fb4",
        "type": "function",
        "z": "2cffd5bf.032a1a",
        "name": "Message",
        "func": "return { data: msg.data, message: 'Voordeur battery low' };",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "63230620.daa818",
        "type": "function",
        "z": "2cffd5bf.032a1a",
        "name": "Message",
        "func": "return { data: msg.data, message: 'Achterdeur battery low' };",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "4df4b1ef.739de"
            ]
        ]
    },
    {
        "id": "3a86c130.b8176e",
        "type": "api-call-service",
        "z": "2cffd5bf.032a1a",
        "name": "Notify Frederik",
        "server": "abc372cc.239f3",
        "version": 1,
        "debugenabled": false,
        "service_domain": "notify",
        "service": "notifyfrederik",
        "entityId": "",
        "data": "{    \"message\": \"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 980,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a9b8a3cc.b9441",
        "type": "switch",
        "z": "2cffd5bf.032a1a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 820,
        "y": 340,
        "wires": [
            [
                "3a86c130.b8176e"
            ]
        ]
    }
]]